/*
60 - Primary color: #2F4858 (dark blue)
30 - Secondary color: #5E7A8A (light blue)
10 - Accent color: #E63946 (red)
*/

*{
    background-color: #2F4858;
    font-family: Verdana;
}   

#quote{
    text-align: center;
    width: 20vh;
    border: .2vh solid #5E7A8A;
    margin-left: 3vh;
    margin-bottom: 1vh;
    color: #2F4858;
    background-color: #5E7A8A;
    border-radius: 2vh;
}

#list{
    display: flex;
}

#quoteName{
    text-align: center;
    font-weight: bold;
    width: 20vh;
    border: .1vh solid #E63946;
    margin-left: 3vh;
    margin-bottom: 1vh;
    background-color: #E63946;
    border-radius: 2vh;
}

a{
    text-decoration: none;
    color: black;
}

a#button{
    border: #5E7A8A 1vh solid;
    border-radius: 2vh;
    background-color: #5E7A8A;
    color: #2F4858;
}

@media only screen and (max-width : 1000px) {
    #quote{
        font-size: 3vh;
        width: 60vh;
        border: .2vh solid #5E7A8A;
        margin-left: 3vh;
        margin-bottom: 1vh;
        border-radius: 2vh;
    }
    #quoteName{
        font-size: 3vh;
        width: 60vh;
        border: .1vh solid #E63946;
        margin-left: 3vh;
        margin-bottom: 1vh;
        border-radius: 2vh;
    }
}